@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* reset styles */
* {
  color: inherit;
  margin: 0;
}

body {
  font-family: Poppins;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

.test {
  color: #0D6EFD;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-7 {
  gap: 1.75rem;
}

.gap-8 {
  gap: 2rem;
}

.gap-9 {
  gap: 2.25rem;
}

.gap-10 {
  gap: 2.5rem;
}

.gap-11 {
  gap: 2.75rem;
}

.gap-12 {
  gap: 3rem;
}

.gap-13 {
  gap: 3.25rem;
}

.gap-14 {
  gap: 3.5rem;
}

.gap-15 {
  gap: 3.75rem;
}

.gap-16 {
  gap: 4rem;
}

.gap-17 {
  gap: 4.25rem;
}

.gap-18 {
  gap: 4.5rem;
}

.gap-19 {
  gap: 4.75rem;
}

.gap-20 {
  gap: 5rem;
}

.gap-21 {
  gap: 5.25rem;
}

.gap-22 {
  gap: 5.5rem;
}

.gap-23 {
  gap: 5.75rem;
}

.gap-24 {
  gap: 6rem;
}

.gap-25 {
  gap: 6.25rem;
}

.gap-26 {
  gap: 6.5rem;
}

.gap-27 {
  gap: 6.75rem;
}

.gap-28 {
  gap: 7rem;
}

.gap-29 {
  gap: 7.25rem;
}

.gap-30 {
  gap: 7.5rem;
}

.gap-31 {
  gap: 7.75rem;
}

.gap-32 {
  gap: 8rem;
}

.gap-33 {
  gap: 8.25rem;
}

.gap-34 {
  gap: 8.5rem;
}

.gap-35 {
  gap: 8.75rem;
}

.gap-36 {
  gap: 9rem;
}

.gap-37 {
  gap: 9.25rem;
}

.gap-38 {
  gap: 9.5rem;
}

.gap-39 {
  gap: 9.75rem;
}

.gap-40 {
  gap: 10rem;
}

.gap-41 {
  gap: 10.25rem;
}

.gap-42 {
  gap: 10.5rem;
}

.gap-43 {
  gap: 10.75rem;
}

.gap-44 {
  gap: 11rem;
}

.gap-45 {
  gap: 11.25rem;
}

.gap-46 {
  gap: 11.5rem;
}

.gap-47 {
  gap: 11.75rem;
}

.gap-48 {
  gap: 12rem;
}

.gap-49 {
  gap: 12.25rem;
}

.gap-50 {
  gap: 12.5rem;
}

.gap-51 {
  gap: 12.75rem;
}

.gap-52 {
  gap: 13rem;
}

.gap-53 {
  gap: 13.25rem;
}

.gap-54 {
  gap: 13.5rem;
}

.gap-55 {
  gap: 13.75rem;
}

.gap-56 {
  gap: 14rem;
}

.gap-57 {
  gap: 14.25rem;
}

.gap-58 {
  gap: 14.5rem;
}

.gap-59 {
  gap: 14.75rem;
}

.gap-60 {
  gap: 15rem;
}

.gap-61 {
  gap: 15.25rem;
}

.gap-62 {
  gap: 15.5rem;
}

.gap-63 {
  gap: 15.75rem;
}

.gap-64 {
  gap: 16rem;
}

.gap-65 {
  gap: 16.25rem;
}

.gap-66 {
  gap: 16.5rem;
}

.gap-67 {
  gap: 16.75rem;
}

.gap-68 {
  gap: 17rem;
}

.gap-69 {
  gap: 17.25rem;
}

.gap-70 {
  gap: 17.5rem;
}

.gap-71 {
  gap: 17.75rem;
}

.gap-72 {
  gap: 18rem;
}

.gap-73 {
  gap: 18.25rem;
}

.gap-74 {
  gap: 18.5rem;
}

.gap-75 {
  gap: 18.75rem;
}

.gap-76 {
  gap: 19rem;
}

.gap-77 {
  gap: 19.25rem;
}

.gap-78 {
  gap: 19.5rem;
}

.gap-79 {
  gap: 19.75rem;
}

.gap-80 {
  gap: 20rem;
}

.gap-81 {
  gap: 20.25rem;
}

.gap-82 {
  gap: 20.5rem;
}

.gap-83 {
  gap: 20.75rem;
}

.gap-84 {
  gap: 21rem;
}

.gap-85 {
  gap: 21.25rem;
}

.gap-86 {
  gap: 21.5rem;
}

.gap-87 {
  gap: 21.75rem;
}

.gap-88 {
  gap: 22rem;
}

.gap-89 {
  gap: 22.25rem;
}

.gap-90 {
  gap: 22.5rem;
}

.gap-91 {
  gap: 22.75rem;
}

.gap-92 {
  gap: 23rem;
}

.gap-93 {
  gap: 23.25rem;
}

.gap-94 {
  gap: 23.5rem;
}

.gap-95 {
  gap: 23.75rem;
}

.gap-96 {
  gap: 24rem;
}

.gap-97 {
  gap: 24.25rem;
}

.gap-98 {
  gap: 24.5rem;
}

.gap-99 {
  gap: 24.75rem;
}

.gap-100 {
  gap: 25rem;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

@media (min-width: 0) {
  .xs\:col-1 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .xs\:col-2 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .xs\:col-3 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .xs\:col-4 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .xs\:col-5 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .xs\:col-6 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .xs\:col-7 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .xs\:col-8 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .xs\:col-9 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .xs\:col-10 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .xs\:col-11 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .xs\:col-12 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 480px) {
  .sm\:col-1 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .sm\:col-2 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .sm\:col-3 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .sm\:col-4 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .sm\:col-5 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .sm\:col-6 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .sm\:col-7 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .sm\:col-8 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .sm\:col-9 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .sm\:col-10 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .sm\:col-11 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .sm\:col-12 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 720px) {
  .md\:col-1 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .md\:col-2 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .md\:col-3 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .md\:col-4 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .md\:col-5 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .md\:col-6 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .md\:col-7 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .md\:col-8 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .md\:col-9 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .md\:col-10 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .md\:col-11 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .md\:col-12 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 960px) {
  .lg\:col-1 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .lg\:col-2 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .lg\:col-3 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .lg\:col-4 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .lg\:col-5 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .lg\:col-6 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .lg\:col-7 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .lg\:col-8 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .lg\:col-9 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .lg\:col-10 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .lg\:col-11 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .lg\:col-12 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .xl\:col-1 {
    box-sizing: border-box;
    width: 8.3333333333%;
  }
  .xl\:col-2 {
    box-sizing: border-box;
    width: 16.6666666667%;
  }
  .xl\:col-3 {
    box-sizing: border-box;
    width: 25%;
  }
  .xl\:col-4 {
    box-sizing: border-box;
    width: 33.3333333333%;
  }
  .xl\:col-5 {
    box-sizing: border-box;
    width: 41.6666666667%;
  }
  .xl\:col-6 {
    box-sizing: border-box;
    width: 50%;
  }
  .xl\:col-7 {
    box-sizing: border-box;
    width: 58.3333333333%;
  }
  .xl\:col-8 {
    box-sizing: border-box;
    width: 66.6666666667%;
  }
  .xl\:col-9 {
    box-sizing: border-box;
    width: 75%;
  }
  .xl\:col-10 {
    box-sizing: border-box;
    width: 83.3333333333%;
  }
  .xl\:col-11 {
    box-sizing: border-box;
    width: 91.6666666667%;
  }
  .xl\:col-12 {
    box-sizing: border-box;
    width: 100%;
  }
}
.bg-primary {
  background-color: #0D6EFD;
}

.hover\:bg-primary:hover {
  background-color: #0D6EFD;
}

.border-primary {
  border: 1px solid #0D6EFD;
}

.hover\:border-primary:hover {
  border: 1px solid #0D6EFD;
}

.complement-primary {
  background-color: #0D6EFD;
  color: white;
}

.hover\:complement-primary:hover {
  background-color: #0D6EFD;
  color: white;
}

.bg-secondary {
  background-color: #6C757D;
}

.hover\:bg-secondary:hover {
  background-color: #6C757D;
}

.border-secondary {
  border: 1px solid #6C757D;
}

.hover\:border-secondary:hover {
  border: 1px solid #6C757D;
}

.complement-secondary {
  background-color: #6C757D;
  color: white;
}

.hover\:complement-secondary:hover {
  background-color: #6C757D;
  color: white;
}

.bg-success {
  background-color: #198754;
}

.hover\:bg-success:hover {
  background-color: #198754;
}

.border-success {
  border: 1px solid #198754;
}

.hover\:border-success:hover {
  border: 1px solid #198754;
}

.complement-success {
  background-color: #198754;
  color: #f8dae8;
}

.hover\:complement-success:hover {
  background-color: #198754;
  color: #f8dae8;
}

.bg-info {
  background-color: #0DCAF0;
}

.hover\:bg-info:hover {
  background-color: #0DCAF0;
}

.border-info {
  border: 1px solid #0DCAF0;
}

.hover\:border-info:hover {
  border: 1px solid #0DCAF0;
}

.complement-info {
  background-color: #0DCAF0;
  color: white;
}

.hover\:complement-info:hover {
  background-color: #0DCAF0;
  color: white;
}

.bg-warning {
  background-color: #FFC107;
}

.hover\:bg-warning:hover {
  background-color: #FFC107;
}

.border-warning {
  border: 1px solid #FFC107;
}

.hover\:border-warning:hover {
  border: 1px solid #FFC107;
}

.complement-warning {
  background-color: #FFC107;
  color: white;
}

.hover\:complement-warning:hover {
  background-color: #FFC107;
  color: white;
}

.bg-error {
  background-color: #DC3545;
}

.hover\:bg-error:hover {
  background-color: #DC3545;
}

.border-error {
  border: 1px solid #DC3545;
}

.hover\:border-error:hover {
  border: 1px solid #DC3545;
}

.complement-error {
  background-color: #DC3545;
  color: white;
}

.hover\:complement-error:hover {
  background-color: #DC3545;
  color: white;
}

.bg-light {
  background-color: #F8F9FA;
}

.hover\:bg-light:hover {
  background-color: #F8F9FA;
}

.border-light {
  border: 1px solid #F8F9FA;
}

.hover\:border-light:hover {
  border: 1px solid #F8F9FA;
}

.complement-light {
  background-color: #F8F9FA;
  color: white;
}

.hover\:complement-light:hover {
  background-color: #F8F9FA;
  color: white;
}

.bg-dark {
  background-color: #212529;
}

.hover\:bg-dark:hover {
  background-color: #212529;
}

.border-dark {
  border: 1px solid #212529;
}

.hover\:border-dark:hover {
  border: 1px solid #212529;
}

.complement-dark {
  background-color: #212529;
  color: #c5beb7;
}

.hover\:complement-dark:hover {
  background-color: #212529;
  color: #c5beb7;
}

.bg-primary-100 {
  background-color: #cfe2ff;
}

.hover\:bg-primary-100:hover {
  background-color: #cfe2ff;
}

.bg-primary-200 {
  background-color: #9ec5fe;
}

.hover\:bg-primary-200:hover {
  background-color: #9ec5fe;
}

.bg-primary-300 {
  background-color: #6ea8fe;
}

.hover\:bg-primary-300:hover {
  background-color: #6ea8fe;
}

.bg-primary-400 {
  background-color: #3d8bfd;
}

.hover\:bg-primary-400:hover {
  background-color: #3d8bfd;
}

.bg-primary-500 {
  background-color: #0d6efd;
}

.hover\:bg-primary-500:hover {
  background-color: #0d6efd;
}

.bg-primary-600 {
  background-color: #0a58ca;
}

.hover\:bg-primary-600:hover {
  background-color: #3d8bfd;
}

.bg-primary-700 {
  background-color: #084298;
}

.hover\:bg-primary-700:hover {
  background-color: #6ea8fe;
}

.bg-primary-800 {
  background-color: #052c65;
}

.hover\:bg-primary-800:hover {
  background-color: #9ec5fe;
}

.bg-primary-900 {
  background-color: #031633;
}

.hover\:bg-primary-900:hover {
  background-color: #cfe2ff;
}

.bg-secondary-100 {
  background-color: #e2e3e5;
}

.hover\:bg-secondary-100:hover {
  background-color: #e2e3e5;
}

.bg-secondary-200 {
  background-color: #c4c8cb;
}

.hover\:bg-secondary-200:hover {
  background-color: #c4c8cb;
}

.bg-secondary-300 {
  background-color: #a7acb1;
}

.hover\:bg-secondary-300:hover {
  background-color: #a7acb1;
}

.bg-secondary-400 {
  background-color: #899197;
}

.hover\:bg-secondary-400:hover {
  background-color: #899197;
}

.bg-secondary-500 {
  background-color: #6c757d;
}

.hover\:bg-secondary-500:hover {
  background-color: #6c757d;
}

.bg-secondary-600 {
  background-color: #565e64;
}

.hover\:bg-secondary-600:hover {
  background-color: #899197;
}

.bg-secondary-700 {
  background-color: #41464b;
}

.hover\:bg-secondary-700:hover {
  background-color: #a7acb1;
}

.bg-secondary-800 {
  background-color: #2b2f32;
}

.hover\:bg-secondary-800:hover {
  background-color: #c4c8cb;
}

.bg-secondary-900 {
  background-color: #161719;
}

.hover\:bg-secondary-900:hover {
  background-color: #e2e3e5;
}

.bg-success-100 {
  background-color: #d1e7dd;
}

.hover\:bg-success-100:hover {
  background-color: #d1e7dd;
}

.bg-success-200 {
  background-color: #a3cfbb;
}

.hover\:bg-success-200:hover {
  background-color: #a3cfbb;
}

.bg-success-300 {
  background-color: #75b798;
}

.hover\:bg-success-300:hover {
  background-color: #75b798;
}

.bg-success-400 {
  background-color: #479f76;
}

.hover\:bg-success-400:hover {
  background-color: #479f76;
}

.bg-success-500 {
  background-color: #198754;
}

.hover\:bg-success-500:hover {
  background-color: #198754;
}

.bg-success-600 {
  background-color: #146c43;
}

.hover\:bg-success-600:hover {
  background-color: #479f76;
}

.bg-success-700 {
  background-color: #0f5132;
}

.hover\:bg-success-700:hover {
  background-color: #75b798;
}

.bg-success-800 {
  background-color: #0a3622;
}

.hover\:bg-success-800:hover {
  background-color: #a3cfbb;
}

.bg-success-900 {
  background-color: #051b11;
}

.hover\:bg-success-900:hover {
  background-color: #d1e7dd;
}

.bg-info-100 {
  background-color: #cff4fc;
}

.hover\:bg-info-100:hover {
  background-color: #cff4fc;
}

.bg-info-200 {
  background-color: #9eeaf9;
}

.hover\:bg-info-200:hover {
  background-color: #9eeaf9;
}

.bg-info-300 {
  background-color: #6edff6;
}

.hover\:bg-info-300:hover {
  background-color: #6edff6;
}

.bg-info-400 {
  background-color: #3dd5f3;
}

.hover\:bg-info-400:hover {
  background-color: #3dd5f3;
}

.bg-info-500 {
  background-color: #0dcaf0;
}

.hover\:bg-info-500:hover {
  background-color: #0dcaf0;
}

.bg-info-600 {
  background-color: #0aa2c0;
}

.hover\:bg-info-600:hover {
  background-color: #3dd5f3;
}

.bg-info-700 {
  background-color: #087990;
}

.hover\:bg-info-700:hover {
  background-color: #6edff6;
}

.bg-info-800 {
  background-color: #055160;
}

.hover\:bg-info-800:hover {
  background-color: #9eeaf9;
}

.bg-info-900 {
  background-color: #032830;
}

.hover\:bg-info-900:hover {
  background-color: #cff4fc;
}

.bg-warning-100 {
  background-color: #fff3cd;
}

.hover\:bg-warning-100:hover {
  background-color: #fff3cd;
}

.bg-warning-200 {
  background-color: #ffe69c;
}

.hover\:bg-warning-200:hover {
  background-color: #ffe69c;
}

.bg-warning-300 {
  background-color: #ffda6a;
}

.hover\:bg-warning-300:hover {
  background-color: #ffda6a;
}

.bg-warning-400 {
  background-color: #ffcd39;
}

.hover\:bg-warning-400:hover {
  background-color: #ffcd39;
}

.bg-warning-500 {
  background-color: #ffc107;
}

.hover\:bg-warning-500:hover {
  background-color: #ffc107;
}

.bg-warning-600 {
  background-color: #cc9a06;
}

.hover\:bg-warning-600:hover {
  background-color: #ffcd39;
}

.bg-warning-700 {
  background-color: #997404;
}

.hover\:bg-warning-700:hover {
  background-color: #ffda6a;
}

.bg-warning-800 {
  background-color: #664d03;
}

.hover\:bg-warning-800:hover {
  background-color: #ffe69c;
}

.bg-warning-900 {
  background-color: #332701;
}

.hover\:bg-warning-900:hover {
  background-color: #fff3cd;
}

.bg-error-100 {
  background-color: #f8d7da;
}

.hover\:bg-error-100:hover {
  background-color: #f8d7da;
}

.bg-error-200 {
  background-color: #f1aeb5;
}

.hover\:bg-error-200:hover {
  background-color: #f1aeb5;
}

.bg-error-300 {
  background-color: #ea868f;
}

.hover\:bg-error-300:hover {
  background-color: #ea868f;
}

.bg-error-400 {
  background-color: #e35d6a;
}

.hover\:bg-error-400:hover {
  background-color: #e35d6a;
}

.bg-error-500 {
  background-color: #dc3545;
}

.hover\:bg-error-500:hover {
  background-color: #dc3545;
}

.bg-error-600 {
  background-color: #b02a37;
}

.hover\:bg-error-600:hover {
  background-color: #e35d6a;
}

.bg-error-700 {
  background-color: #842029;
}

.hover\:bg-error-700:hover {
  background-color: #ea868f;
}

.bg-error-800 {
  background-color: #58151c;
}

.hover\:bg-error-800:hover {
  background-color: #f1aeb5;
}

.bg-error-900 {
  background-color: #2c0b0e;
}

.hover\:bg-error-900:hover {
  background-color: #f8d7da;
}

.bg-light-100 {
  background-color: #fefefe;
}

.hover\:bg-light-100:hover {
  background-color: #fefefe;
}

.bg-light-200 {
  background-color: #fcfdfd;
}

.hover\:bg-light-200:hover {
  background-color: #fcfdfd;
}

.bg-light-300 {
  background-color: #fbfbfc;
}

.hover\:bg-light-300:hover {
  background-color: #fbfbfc;
}

.bg-light-400 {
  background-color: #f9fafb;
}

.hover\:bg-light-400:hover {
  background-color: #f9fafb;
}

.bg-light-500 {
  background-color: #f8f9fa;
}

.hover\:bg-light-500:hover {
  background-color: #f8f9fa;
}

.bg-light-600 {
  background-color: #c6c7c8;
}

.hover\:bg-light-600:hover {
  background-color: #f9fafb;
}

.bg-light-700 {
  background-color: #959596;
}

.hover\:bg-light-700:hover {
  background-color: #fbfbfc;
}

.bg-light-800 {
  background-color: #636464;
}

.hover\:bg-light-800:hover {
  background-color: #fcfdfd;
}

.bg-light-900 {
  background-color: #323232;
}

.hover\:bg-light-900:hover {
  background-color: #fefefe;
}

.bg-dark-100 {
  background-color: #d3d3d4;
}

.hover\:bg-dark-100:hover {
  background-color: #d3d3d4;
}

.bg-dark-200 {
  background-color: #a6a8a9;
}

.hover\:bg-dark-200:hover {
  background-color: #a6a8a9;
}

.bg-dark-300 {
  background-color: #7a7c7f;
}

.hover\:bg-dark-300:hover {
  background-color: #7a7c7f;
}

.bg-dark-400 {
  background-color: #4d5154;
}

.hover\:bg-dark-400:hover {
  background-color: #4d5154;
}

.bg-dark-500 {
  background-color: #212529;
}

.hover\:bg-dark-500:hover {
  background-color: #212529;
}

.bg-dark-600 {
  background-color: #1a1e21;
}

.hover\:bg-dark-600:hover {
  background-color: #4d5154;
}

.bg-dark-700 {
  background-color: #141619;
}

.hover\:bg-dark-700:hover {
  background-color: #7a7c7f;
}

.bg-dark-800 {
  background-color: #0d0f10;
}

.hover\:bg-dark-800:hover {
  background-color: #a6a8a9;
}

.bg-dark-900 {
  background-color: #070708;
}

.hover\:bg-dark-900:hover {
  background-color: #d3d3d4;
}

.tx-sm {
  font-size: 0.75rem;
}

.hover\:tx-sm:hover {
  font-size: 0.75rem;
}

.tx-md {
  font-size: 1rem;
}

.hover\:tx-md:hover {
  font-size: 1rem;
}

.tx-lg {
  font-size: 1.5rem;
}

.hover\:tx-lg:hover {
  font-size: 1.5rem;
}

.tx-xl {
  font-size: 2rem;
}

.hover\:tx-xl:hover {
  font-size: 2rem;
}

.tx-xxl {
  font-size: 3rem;
}

.hover\:tx-xxl:hover {
  font-size: 3rem;
}

.tx-primary {
  color: #0D6EFD;
}

.hover\:tx-primary:hover {
  color: #0D6EFD;
}

.tx-secondary {
  color: #6C757D;
}

.hover\:tx-secondary:hover {
  color: #6C757D;
}

.tx-success {
  color: #198754;
}

.hover\:tx-success:hover {
  color: #198754;
}

.tx-info {
  color: #0DCAF0;
}

.hover\:tx-info:hover {
  color: #0DCAF0;
}

.tx-warning {
  color: #FFC107;
}

.hover\:tx-warning:hover {
  color: #FFC107;
}

.tx-error {
  color: #DC3545;
}

.hover\:tx-error:hover {
  color: #DC3545;
}

.tx-light {
  color: #F8F9FA;
}

.hover\:tx-light:hover {
  color: #F8F9FA;
}

.tx-dark {
  color: #212529;
}

.hover\:tx-dark:hover {
  color: #212529;
}

.tx-primary-100 {
  color: #cfe2ff;
}

.hover\:tx-primary-100:hover {
  color: #cfe2ff;
}

.tx-primary-200 {
  color: #9ec5fe;
}

.hover\:tx-primary-200:hover {
  color: #9ec5fe;
}

.tx-primary-300 {
  color: #6ea8fe;
}

.hover\:tx-primary-300:hover {
  color: #6ea8fe;
}

.tx-primary-400 {
  color: #3d8bfd;
}

.hover\:tx-primary-400:hover {
  color: #3d8bfd;
}

.tx-primary-500 {
  color: #0d6efd;
}

.hover\:tx-primary-500:hover {
  color: #0d6efd;
}

.tx-primary-600 {
  color: #0a58ca;
}

.hover\:tx-primary-600:hover {
  color: #3d8bfd;
}

.tx-primary-700 {
  color: #084298;
}

.hover\:tx-primary-700:hover {
  color: #6ea8fe;
}

.tx-primary-800 {
  color: #052c65;
}

.hover\:tx-primary-800:hover {
  color: #9ec5fe;
}

.tx-primary-900 {
  color: #031633;
}

.hover\:tx-primary-900:hover {
  color: #cfe2ff;
}

.tx-secondary-100 {
  color: #e2e3e5;
}

.hover\:tx-secondary-100:hover {
  color: #e2e3e5;
}

.tx-secondary-200 {
  color: #c4c8cb;
}

.hover\:tx-secondary-200:hover {
  color: #c4c8cb;
}

.tx-secondary-300 {
  color: #a7acb1;
}

.hover\:tx-secondary-300:hover {
  color: #a7acb1;
}

.tx-secondary-400 {
  color: #899197;
}

.hover\:tx-secondary-400:hover {
  color: #899197;
}

.tx-secondary-500 {
  color: #6c757d;
}

.hover\:tx-secondary-500:hover {
  color: #6c757d;
}

.tx-secondary-600 {
  color: #565e64;
}

.hover\:tx-secondary-600:hover {
  color: #899197;
}

.tx-secondary-700 {
  color: #41464b;
}

.hover\:tx-secondary-700:hover {
  color: #a7acb1;
}

.tx-secondary-800 {
  color: #2b2f32;
}

.hover\:tx-secondary-800:hover {
  color: #c4c8cb;
}

.tx-secondary-900 {
  color: #161719;
}

.hover\:tx-secondary-900:hover {
  color: #e2e3e5;
}

.tx-success-100 {
  color: #d1e7dd;
}

.hover\:tx-success-100:hover {
  color: #d1e7dd;
}

.tx-success-200 {
  color: #a3cfbb;
}

.hover\:tx-success-200:hover {
  color: #a3cfbb;
}

.tx-success-300 {
  color: #75b798;
}

.hover\:tx-success-300:hover {
  color: #75b798;
}

.tx-success-400 {
  color: #479f76;
}

.hover\:tx-success-400:hover {
  color: #479f76;
}

.tx-success-500 {
  color: #198754;
}

.hover\:tx-success-500:hover {
  color: #198754;
}

.tx-success-600 {
  color: #146c43;
}

.hover\:tx-success-600:hover {
  color: #479f76;
}

.tx-success-700 {
  color: #0f5132;
}

.hover\:tx-success-700:hover {
  color: #75b798;
}

.tx-success-800 {
  color: #0a3622;
}

.hover\:tx-success-800:hover {
  color: #a3cfbb;
}

.tx-success-900 {
  color: #051b11;
}

.hover\:tx-success-900:hover {
  color: #d1e7dd;
}

.tx-info-100 {
  color: #cff4fc;
}

.hover\:tx-info-100:hover {
  color: #cff4fc;
}

.tx-info-200 {
  color: #9eeaf9;
}

.hover\:tx-info-200:hover {
  color: #9eeaf9;
}

.tx-info-300 {
  color: #6edff6;
}

.hover\:tx-info-300:hover {
  color: #6edff6;
}

.tx-info-400 {
  color: #3dd5f3;
}

.hover\:tx-info-400:hover {
  color: #3dd5f3;
}

.tx-info-500 {
  color: #0dcaf0;
}

.hover\:tx-info-500:hover {
  color: #0dcaf0;
}

.tx-info-600 {
  color: #0aa2c0;
}

.hover\:tx-info-600:hover {
  color: #3dd5f3;
}

.tx-info-700 {
  color: #087990;
}

.hover\:tx-info-700:hover {
  color: #6edff6;
}

.tx-info-800 {
  color: #055160;
}

.hover\:tx-info-800:hover {
  color: #9eeaf9;
}

.tx-info-900 {
  color: #032830;
}

.hover\:tx-info-900:hover {
  color: #cff4fc;
}

.tx-warning-100 {
  color: #fff3cd;
}

.hover\:tx-warning-100:hover {
  color: #fff3cd;
}

.tx-warning-200 {
  color: #ffe69c;
}

.hover\:tx-warning-200:hover {
  color: #ffe69c;
}

.tx-warning-300 {
  color: #ffda6a;
}

.hover\:tx-warning-300:hover {
  color: #ffda6a;
}

.tx-warning-400 {
  color: #ffcd39;
}

.hover\:tx-warning-400:hover {
  color: #ffcd39;
}

.tx-warning-500 {
  color: #ffc107;
}

.hover\:tx-warning-500:hover {
  color: #ffc107;
}

.tx-warning-600 {
  color: #cc9a06;
}

.hover\:tx-warning-600:hover {
  color: #ffcd39;
}

.tx-warning-700 {
  color: #997404;
}

.hover\:tx-warning-700:hover {
  color: #ffda6a;
}

.tx-warning-800 {
  color: #664d03;
}

.hover\:tx-warning-800:hover {
  color: #ffe69c;
}

.tx-warning-900 {
  color: #332701;
}

.hover\:tx-warning-900:hover {
  color: #fff3cd;
}

.tx-error-100 {
  color: #f8d7da;
}

.hover\:tx-error-100:hover {
  color: #f8d7da;
}

.tx-error-200 {
  color: #f1aeb5;
}

.hover\:tx-error-200:hover {
  color: #f1aeb5;
}

.tx-error-300 {
  color: #ea868f;
}

.hover\:tx-error-300:hover {
  color: #ea868f;
}

.tx-error-400 {
  color: #e35d6a;
}

.hover\:tx-error-400:hover {
  color: #e35d6a;
}

.tx-error-500 {
  color: #dc3545;
}

.hover\:tx-error-500:hover {
  color: #dc3545;
}

.tx-error-600 {
  color: #b02a37;
}

.hover\:tx-error-600:hover {
  color: #e35d6a;
}

.tx-error-700 {
  color: #842029;
}

.hover\:tx-error-700:hover {
  color: #ea868f;
}

.tx-error-800 {
  color: #58151c;
}

.hover\:tx-error-800:hover {
  color: #f1aeb5;
}

.tx-error-900 {
  color: #2c0b0e;
}

.hover\:tx-error-900:hover {
  color: #f8d7da;
}

.tx-light-100 {
  color: #fefefe;
}

.hover\:tx-light-100:hover {
  color: #fefefe;
}

.tx-light-200 {
  color: #fcfdfd;
}

.hover\:tx-light-200:hover {
  color: #fcfdfd;
}

.tx-light-300 {
  color: #fbfbfc;
}

.hover\:tx-light-300:hover {
  color: #fbfbfc;
}

.tx-light-400 {
  color: #f9fafb;
}

.hover\:tx-light-400:hover {
  color: #f9fafb;
}

.tx-light-500 {
  color: #f8f9fa;
}

.hover\:tx-light-500:hover {
  color: #f8f9fa;
}

.tx-light-600 {
  color: #c6c7c8;
}

.hover\:tx-light-600:hover {
  color: #f9fafb;
}

.tx-light-700 {
  color: #959596;
}

.hover\:tx-light-700:hover {
  color: #fbfbfc;
}

.tx-light-800 {
  color: #636464;
}

.hover\:tx-light-800:hover {
  color: #fcfdfd;
}

.tx-light-900 {
  color: #323232;
}

.hover\:tx-light-900:hover {
  color: #fefefe;
}

.tx-dark-100 {
  color: #d3d3d4;
}

.hover\:tx-dark-100:hover {
  color: #d3d3d4;
}

.tx-dark-200 {
  color: #a6a8a9;
}

.hover\:tx-dark-200:hover {
  color: #a6a8a9;
}

.tx-dark-300 {
  color: #7a7c7f;
}

.hover\:tx-dark-300:hover {
  color: #7a7c7f;
}

.tx-dark-400 {
  color: #4d5154;
}

.hover\:tx-dark-400:hover {
  color: #4d5154;
}

.tx-dark-500 {
  color: #212529;
}

.hover\:tx-dark-500:hover {
  color: #212529;
}

.tx-dark-600 {
  color: #1a1e21;
}

.hover\:tx-dark-600:hover {
  color: #4d5154;
}

.tx-dark-700 {
  color: #141619;
}

.hover\:tx-dark-700:hover {
  color: #7a7c7f;
}

.tx-dark-800 {
  color: #0d0f10;
}

.hover\:tx-dark-800:hover {
  color: #a6a8a9;
}

.tx-dark-900 {
  color: #070708;
}

.hover\:tx-dark-900:hover {
  color: #d3d3d4;
}

.card {
  display: block;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.card .card-title {
  font-size: 1rem;
  padding-bottom: 0.75rem;
  font-weight: bold;
}
.card .card-body {
  font-size: 1rem;
}
.card .card-body a {
  text-decoration: underline;
}

.shadow {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
}

.border {
  border: 1px solid black;
}

.br {
  border-radius: 20px;
}

.br-none {
  border-radius: 0;
}

.br-xs {
  border-radius: 5px;
}

.br-sm {
  border-radius: 10px;
}

.br-lg {
  border-radius: 40px;
}

.br-full {
  border-radius: 50%;
}

.navbar .container, .navbar-dark .container, .navbar-light .container, .navbar-error .container, .navbar-warning .container, .navbar-info .container, .navbar-success .container, .navbar-secondary .container, .navbar-primary .container, .navbar, .navbar-dark, .navbar-light, .navbar-error, .navbar-warning, .navbar-info, .navbar-success, .navbar-secondary, .navbar-primary {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar, .navbar-dark, .navbar-light, .navbar-error, .navbar-warning, .navbar-info, .navbar-success, .navbar-secondary, .navbar-primary {
  padding: 0.75rem 1.5rem;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.navbar .site-title, .navbar-dark .site-title, .navbar-light .site-title, .navbar-error .site-title, .navbar-warning .site-title, .navbar-info .site-title, .navbar-success .site-title, .navbar-secondary .site-title, .navbar-primary .site-title {
  font-size: 1.5rem;
}
.navbar-primary {
  background-color: #0D6EFD;
}

.navbar-secondary {
  background-color: #6C757D;
}

.navbar-success {
  background-color: #198754;
}

.navbar-info {
  background-color: #0DCAF0;
}

.navbar-warning {
  background-color: #FFC107;
}

.navbar-error {
  background-color: #DC3545;
}

.navbar-light {
  background-color: #F8F9FA;
}

.navbar-dark {
  background-color: #212529;
}

.badge {
  border-radius: 80px;
  background-color: #0DCAF0;
  padding: 0.1875rem 0.375rem;
  font-size: 0.75rem;
  font-weight: normal;
}

.badge-primary {
  border-radius: 80px;
  background-color: #0D6EFD;
  padding: 0.1875rem 0.375rem;
  font-size: 0.75rem;
  font-weight: normal;
}

.badge-secondary {
  border-radius: 80px;
  background-color: #6C757D;
  padding: 0.1875rem 0.375rem;
  font-size: 0.75rem;
  font-weight: normal;
}

.badge-success {
  border-radius: 80px;
  background-color: #198754;
  padding: 0.1875rem 0.375rem;
  font-size: 0.75rem;
  font-weight: normal;
}

.badge-info {
  border-radius: 80px;
  background-color: #0DCAF0;
  padding: 0.1875rem 0.375rem;
  font-size: 0.75rem;
  font-weight: normal;
}

.badge-warning {
  border-radius: 80px;
  background-color: #FFC107;
  padding: 0.1875rem 0.375rem;
  font-size: 0.75rem;
  font-weight: normal;
}

.badge-error {
  border-radius: 80px;
  background-color: #DC3545;
  padding: 0.1875rem 0.375rem;
  font-size: 0.75rem;
  font-weight: normal;
}

.badge-light {
  border-radius: 80px;
  background-color: #F8F9FA;
  padding: 0.1875rem 0.375rem;
  font-size: 0.75rem;
  font-weight: normal;
}

.badge-dark {
  border-radius: 80px;
  background-color: #212529;
  padding: 0.1875rem 0.375rem;
  font-size: 0.75rem;
  font-weight: normal;
}

.o-0 {
  opacity: 0;
}

.m-0 {
  margin: 0rem;
}

.p-0 {
  padding: 0rem;
}

.mt-0 {
  margin-top: 0rem;
}

.pt-0 {
  padding-top: 0rem;
}

.mr-0 {
  margin-right: 0rem;
}

.pr-0 {
  padding-right: 0rem;
}

.mb-0 {
  margin-bottom: 0rem;
}

.pb-0 {
  padding-bottom: 0rem;
}

.ml-0 {
  margin-left: 0rem;
}

.pl-0 {
  padding-left: 0rem;
}

.my-0 {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.py-0 {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.mx-0 {
  margin-left: 0rem;
  margin-right: 0rem;
}

.px-0 {
  padding-left: 0rem;
  padding-right: 0rem;
}

.o-10 {
  opacity: 0.1;
}

.m-1 {
  margin: 0.75rem;
}

.p-1 {
  padding: 0.75rem;
}

.mt-1 {
  margin-top: 0.75rem;
}

.pt-1 {
  padding-top: 0.75rem;
}

.mr-1 {
  margin-right: 0.75rem;
}

.pr-1 {
  padding-right: 0.75rem;
}

.mb-1 {
  margin-bottom: 0.75rem;
}

.pb-1 {
  padding-bottom: 0.75rem;
}

.ml-1 {
  margin-left: 0.75rem;
}

.pl-1 {
  padding-left: 0.75rem;
}

.my-1 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.py-1 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.mx-1 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.px-1 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.o-20 {
  opacity: 0.2;
}

.m-2 {
  margin: 1.5rem;
}

.p-2 {
  padding: 1.5rem;
}

.mt-2 {
  margin-top: 1.5rem;
}

.pt-2 {
  padding-top: 1.5rem;
}

.mr-2 {
  margin-right: 1.5rem;
}

.pr-2 {
  padding-right: 1.5rem;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

.pb-2 {
  padding-bottom: 1.5rem;
}

.ml-2 {
  margin-left: 1.5rem;
}

.pl-2 {
  padding-left: 1.5rem;
}

.my-2 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.py-2 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.mx-2 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.px-2 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.o-30 {
  opacity: 0.3;
}

.m-3 {
  margin: 2.25rem;
}

.p-3 {
  padding: 2.25rem;
}

.mt-3 {
  margin-top: 2.25rem;
}

.pt-3 {
  padding-top: 2.25rem;
}

.mr-3 {
  margin-right: 2.25rem;
}

.pr-3 {
  padding-right: 2.25rem;
}

.mb-3 {
  margin-bottom: 2.25rem;
}

.pb-3 {
  padding-bottom: 2.25rem;
}

.ml-3 {
  margin-left: 2.25rem;
}

.pl-3 {
  padding-left: 2.25rem;
}

.my-3 {
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}

.py-3 {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

.mx-3 {
  margin-left: 2.25rem;
  margin-right: 2.25rem;
}

.px-3 {
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}

.o-40 {
  opacity: 0.4;
}

.m-4 {
  margin: 3rem;
}

.p-4 {
  padding: 3rem;
}

.mt-4 {
  margin-top: 3rem;
}

.pt-4 {
  padding-top: 3rem;
}

.mr-4 {
  margin-right: 3rem;
}

.pr-4 {
  padding-right: 3rem;
}

.mb-4 {
  margin-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 3rem;
}

.ml-4 {
  margin-left: 3rem;
}

.pl-4 {
  padding-left: 3rem;
}

.my-4 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.py-4 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.mx-4 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.px-4 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.o-50 {
  opacity: 0.5;
}

.m-5 {
  margin: 3.75rem;
}

.p-5 {
  padding: 3.75rem;
}

.mt-5 {
  margin-top: 3.75rem;
}

.pt-5 {
  padding-top: 3.75rem;
}

.mr-5 {
  margin-right: 3.75rem;
}

.pr-5 {
  padding-right: 3.75rem;
}

.mb-5 {
  margin-bottom: 3.75rem;
}

.pb-5 {
  padding-bottom: 3.75rem;
}

.ml-5 {
  margin-left: 3.75rem;
}

.pl-5 {
  padding-left: 3.75rem;
}

.my-5 {
  margin-top: 3.75rem;
  margin-bottom: 3.75rem;
}

.py-5 {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.mx-5 {
  margin-left: 3.75rem;
  margin-right: 3.75rem;
}

.px-5 {
  padding-left: 3.75rem;
  padding-right: 3.75rem;
}

.o-60 {
  opacity: 0.6;
}

.m-6 {
  margin: 4.5rem;
}

.p-6 {
  padding: 4.5rem;
}

.mt-6 {
  margin-top: 4.5rem;
}

.pt-6 {
  padding-top: 4.5rem;
}

.mr-6 {
  margin-right: 4.5rem;
}

.pr-6 {
  padding-right: 4.5rem;
}

.mb-6 {
  margin-bottom: 4.5rem;
}

.pb-6 {
  padding-bottom: 4.5rem;
}

.ml-6 {
  margin-left: 4.5rem;
}

.pl-6 {
  padding-left: 4.5rem;
}

.my-6 {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
}

.py-6 {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.mx-6 {
  margin-left: 4.5rem;
  margin-right: 4.5rem;
}

.px-6 {
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}

.o-70 {
  opacity: 0.7;
}

.m-7 {
  margin: 5.25rem;
}

.p-7 {
  padding: 5.25rem;
}

.mt-7 {
  margin-top: 5.25rem;
}

.pt-7 {
  padding-top: 5.25rem;
}

.mr-7 {
  margin-right: 5.25rem;
}

.pr-7 {
  padding-right: 5.25rem;
}

.mb-7 {
  margin-bottom: 5.25rem;
}

.pb-7 {
  padding-bottom: 5.25rem;
}

.ml-7 {
  margin-left: 5.25rem;
}

.pl-7 {
  padding-left: 5.25rem;
}

.my-7 {
  margin-top: 5.25rem;
  margin-bottom: 5.25rem;
}

.py-7 {
  padding-top: 5.25rem;
  padding-bottom: 5.25rem;
}

.mx-7 {
  margin-left: 5.25rem;
  margin-right: 5.25rem;
}

.px-7 {
  padding-left: 5.25rem;
  padding-right: 5.25rem;
}

.o-80 {
  opacity: 0.8;
}

.m-8 {
  margin: 6rem;
}

.p-8 {
  padding: 6rem;
}

.mt-8 {
  margin-top: 6rem;
}

.pt-8 {
  padding-top: 6rem;
}

.mr-8 {
  margin-right: 6rem;
}

.pr-8 {
  padding-right: 6rem;
}

.mb-8 {
  margin-bottom: 6rem;
}

.pb-8 {
  padding-bottom: 6rem;
}

.ml-8 {
  margin-left: 6rem;
}

.pl-8 {
  padding-left: 6rem;
}

.my-8 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.py-8 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.mx-8 {
  margin-left: 6rem;
  margin-right: 6rem;
}

.px-8 {
  padding-left: 6rem;
  padding-right: 6rem;
}

.o-90 {
  opacity: 0.9;
}

.m-9 {
  margin: 6.75rem;
}

.p-9 {
  padding: 6.75rem;
}

.mt-9 {
  margin-top: 6.75rem;
}

.pt-9 {
  padding-top: 6.75rem;
}

.mr-9 {
  margin-right: 6.75rem;
}

.pr-9 {
  padding-right: 6.75rem;
}

.mb-9 {
  margin-bottom: 6.75rem;
}

.pb-9 {
  padding-bottom: 6.75rem;
}

.ml-9 {
  margin-left: 6.75rem;
}

.pl-9 {
  padding-left: 6.75rem;
}

.my-9 {
  margin-top: 6.75rem;
  margin-bottom: 6.75rem;
}

.py-9 {
  padding-top: 6.75rem;
  padding-bottom: 6.75rem;
}

.mx-9 {
  margin-left: 6.75rem;
  margin-right: 6.75rem;
}

.px-9 {
  padding-left: 6.75rem;
  padding-right: 6.75rem;
}

.o-100 {
  opacity: 1;
}

.m-10 {
  margin: 7.5rem;
}

.p-10 {
  padding: 7.5rem;
}

.mt-10 {
  margin-top: 7.5rem;
}

.pt-10 {
  padding-top: 7.5rem;
}

.mr-10 {
  margin-right: 7.5rem;
}

.pr-10 {
  padding-right: 7.5rem;
}

.mb-10 {
  margin-bottom: 7.5rem;
}

.pb-10 {
  padding-bottom: 7.5rem;
}

.ml-10 {
  margin-left: 7.5rem;
}

.pl-10 {
  padding-left: 7.5rem;
}

.my-10 {
  margin-top: 7.5rem;
  margin-bottom: 7.5rem;
}

.py-10 {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.mx-10 {
  margin-left: 7.5rem;
  margin-right: 7.5rem;
}

.px-10 {
  padding-left: 7.5rem;
  padding-right: 7.5rem;
}

.d-n {
  display: none;
}

.d-b {
  display: block;
}

.d-f {
  display: flex;
}

.d-i {
  display: inline;
}

.d-ib {
  display: inline-block;
}

/*# sourceMappingURL=index.css.map */
