@use 'sass:math';

.card {
  display: block;
  padding: $base-padding;
  border: $base-border-thickness solid #ddd;
  border-radius: math.div($base-border-radius, 4);

  .card-title {
    font-size: $font-size-base;
    padding-bottom: $base-padding;
    font-weight: bold;
  }
  .card-body {
    font-size: $font-size-base;

    a {
      text-decoration: underline;
    }
  }
}

.shadow{
  box-shadow: $base-box-shadow;
}
