
@each $key, $val in $colors {


  // For background ////////////
  .bg-#{$key} {
    background-color: $val;}
  .hover\:bg-#{$key} {
    &:hover {
      background-color: $val;}}

  // For outline or border //////////
  .border-#{$key} {
    @include border{
      border: 1px solid $val;}} 
        
  .hover\:border-#{$key} {
    &:hover {
      @include border{
        border: 1px solid $val;}}}
 
  // For compliment colors //////////
  .complement-#{$key} {
    background-color: $val; 
    color: light-comp($val);}  

  .hover\:complement-#{$key} {
    &:hover {
      background-color: $val;  
      color: light-comp($val);}}

}

@each $ktc, $vtc in $colors {
  // For background color ////////////////
  @each $key, $value in $w-mix {
    $percentage:( $value * 1%); 
    .bg-#{$ktc}-#{($key * 100)} {
      background-color: mix(white, $vtc, $percentage);}

    .hover\:bg-#{$ktc}-#{($key * 100)} {
      &:hover{
        background-color: mix(white, $vtc, $percentage);}}}

  @each $key, $value in $b-mix {
    $percentage:( $value * 1%); 
    .bg-#{$ktc}-#{$key * 100} {
      background-color: mix(black, $vtc, $percentage);}

    .hover\:bg-#{$ktc}-#{($key * 100)} {
      &:hover{
        background-color: mix(white, $vtc, $percentage);}}}
      
}