@use 'sass:math';

@for $i from 0 through 10 {

  .o-#{$i * 10}{
    opacity: 0.1 * $i;}

  .m-#{$i}{
    margin: $base-margin * $i;}

  .p-#{$i}{
    padding: $base-padding * $i;}

  @each $k, $v in $sides {

    @if($k == "y" or $k == "x") {
      .m#{$k}-#{$i}{
        margin-#{ nth($v, 1)}:  $base-margin * $i;
        margin-#{ nth($v, 2)}:  $base-margin * $i;}

      .p#{$k}-#{$i}{
        padding-#{ nth($v, 1)}:  $base-padding * $i;
        padding-#{ nth($v, 2)}:  $base-padding * $i;}}

    @else{
      .m#{$k}-#{$i}{
        margin-#{$v}:  $base-margin * $i;}

      .p#{$k}-#{$i}{
        padding-#{$v}:  $base-padding * $i;}}


  }
}

@each $k, $v in $display {
  .d-#{$k}{
    display: $v;
  }
}